<nav class="flex justify-center p-4 mb-8">
  <ul class="flex items-center">
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">News</a></li>
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">Articles</a></li>
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">Contact</a></li>
  </ul>
</nav>